<form id="customise" data-base="{{ app.request.schemeAndHttpHost }}">
    <ul class="list-inline mb-1">
        <li>
            <label for="version">Version:</label>
            <select id="version" name="version">
                <option value="">Latest</option>
                {% for version in versions|reverse %}
                    <option value="{{ version }}">v{{ version }}</option>
                {% endfor %}
            </select>
        </li>

        <li>
            <label for="format">Format:</label>
            <select id="format" name="format">
                <option value="">HTML</option>
                <option value="md">Markdown</option>
                <option value="tldr">TL;DR</option>
            </select>
        </li>
    </ul>

    <ul class="list-inline mb-1">
        <li>
            <label for="licensor">Licensor:</label>
            <input name="licensor_name" type="text" placeholder="Name">
            <input name="licensor_url" type="url" placeholder="URL (optional)">
        </li>
    </ul>

    <ul class="list-inline mb-1">
        <li>
            <input id="custom-link-input" type="url" readonly style="width: 100%"/>
        </li>
    </ul>

    <ul class="list-inline list-inline-sm mb-1">
        <li>
            <a id="custom-link-open" href="#" target="_blank"><button type="button">↗️ Open</button></a>
        </li>
        <li>
            <button id="custom-link-copy" type="button" class="btn-clipboard" data-clipboard-text="">📋 Copy</button>
        </li>
    </ul>
</form>

<script>
    const $form = document.querySelector('#customise');

    const buildLink = (data) => {
        let link = `/license`;
        if (data.version) {
            link += `/v${data.version}`;
        }
        if (data.format) {
            link += `.${data.format}`;
        }
        if (data.licensor_name) {
            link += `?c=${encodeURIComponent(data.licensor_name)}`;
            if (data.licensor_url) {
                link += encodeURIComponent(`|${data.licensor_url}`);
            }
        }

        return link;
    }

    const generate = () => {
        const data = Object.fromEntries(new FormData($form));
        const link = $form.dataset.base + buildLink(data);

        $form.querySelector('#custom-link-input').value = link;
        $form.querySelector('#custom-link-open').href = link;
        $form.querySelector('#custom-link-copy').dataset.clipboardText = link;
    }

    generate();
    $form.addEventListener('input', generate);
</script>
