{% extends 'base.html.twig' %}

{% block title %}{{ license.title }}{% endblock %}

{% block body %}
    {{ license.parsed|replace({'🏳️‍🌈': include('logo.html.twig')})|raw }}

    <hr/>

    <p class="center">
        <a href="{{ path('home') }}"><button>🏠 Homepage</button></a>
    </p>

    <h2>TL;DR</h2>
    <div class="table-responsive">
        {{ license.tldr|raw }}
    </div>

    <details>
        <summary>Motivation</summary>
        {{ about|raw }}
    </details>

    <ul class="list-inline">
        <li>
            {% include 'license/identifier.html.twig' with { version: license.version } %}
            <button class="btn-clipboard small" data-clipboard-text="{{ include('license/identifier.html.twig', { version: license.version })|striptags|raw|e('html_attr') }}">📋</button>
        </li>
        <li>
            {% include 'license/badge.html.twig' with { link: app.request.uri } %}
            <button class="btn-clipboard small" data-clipboard-text="{{ include('license/badge.html.twig', { link: app.request.uri })|raw|e('html_attr') }}">📋</button>
        </li>
    </ul>
{% endblock %}
