{% extends 'base.html.twig' %}

{% block title %}{{ license.title }}{% endblock %}

{% block body %}
    {{ license.parsed|split('\n')[0]|replace({'🏳️‍🌈': include('logo.html.twig')})|raw }}

    {% if license.licensor %}
        {{ license.parsed|split('\n')[1]|raw }}
    {% endif %}

    <div class="table-responsive">
        {{ license.tldr|raw }}
    </div>

    <ul class="center list-inline">
        <li>
            {% apply spaceless %}
            <a href="{{ app.request.uri|replace({'.tldr': ''}) }}">
                <button class="small">📄 View full text of the license</button>
            </a>
            {% endapply %}
        </li>
        <li>
            {% apply spaceless %}
            <a href="{{ path('home') }}">
                <button class="small">🏠 Go to homepage</button>
            </a>
            {% endapply %}
        </li>
    </ul>
{% endblock %}
