<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% set title %}{% block title %}Opinionated Queer License{% endblock %}{% endset %}
        {% set description %}{% block description %}This license doesn't meet the definition of open source or the definition of free software. And I don't care. I don't want my work to be freely used – I want it used for good.{% endblock %}{% endset %}
        {% set keywords %}{% block keywords %}license, queer, nonviolent, anti-capitalist, anti-patriarchy, acab, software{% endblock %}{% endset %}
        {% set image %}{% block image %}{{ app.request.uriForPath('/banner.png') }}{% endblock %}{% endset %}

        {% block meta %}
            <title>{{ title }}</title>
            <meta name="description" content="{{ description }}" />
            <meta name="keywords" content="{{ keywords }}" />
            <meta name="author" content="Andrea Vos <andrea@avris.it>" />
        {% endblock %}

        {% block social %}
            <meta property="og:type" content="article" />
            <meta property="og:title" content="{{ title }}" />
            <meta property="og:url" content="{{ app.request.uri }}" />
            <meta property="og:image" content="{{ image }}" />

            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:title" content="{{ title }}">
            <meta name="twitter:description" content="{{ description }}">
            <meta name="twitter:image" content="{{ image }}">
            <meta name="twitter:site" content="AvrisIT" />
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
            <style>{% include 'style.css.twig' %}</style>
        {% endblock %}
        <link rel="shortcut icon" href="/OQL.svg" type="image/svg+xml">
    </head>
    <body>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <p class="center small">
                Created by
                <a href="https://avris.it" target="_blank" rel="noopener">Andrea Vos</a>
                <br/>
                I'm a queer software developer, not a lawyer 😉
            </p>
        </footer>
    </body>
    {% block javascripts %}
        <script defer data-domain="oql.avris.it" src="https://plausible.avris.it/js/plausible.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
        <script>
            new ClipboardJS('.btn-clipboard');
        </script>
    {% endblock %}
</html>
